# Analyzing simplyhired.com scraped data
## Introduction

I [collected data from simplyhired.com](https://github.com/Derrick-Mulwa/Web-Scraping-SimplyHired "The repository where I scraped the data") that contains details about jobs being advertised for Data Analysis/Business Analysis positions in the US. The data is stored in the Collected data.csv file in this repository. I will use the data to get insights of the job postings.

### These are the ten potential hypotheses I will investigate with this dataset:
* Companies with higher ratings tend to offer higher salaries than those with lower ratings.
* Jobs in larger cities tend to have higher salaries than those in smaller cities.
* Full-time jobs tend to have higher salaries than part-time jobs.
* The most common job qualifications for high-paying jobs are related to specific technical skills.
* The most common job benefits for high-paying jobs include healthcare and retirement plans.
* Salaries in certain states tend to be higher than in others.
* Jobs that pay annually tend to pay more than jobs that pay monthly or hourly
* Senior analyst's roles tend to have higher salaries than junior analyst roles.
* Senior analyst jobs tend to have more job benefits than junior analyst jobs.
* Senior analyst roles require more qualifications than junior analyst jobs.
* Lower rated companies are more likely to hire junior/Entry level analysts than hiher rated analysts.
* There is a positive correlation between the number of job benefits offered and the company rating.

In [1]:
# Import modules to be used
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from matplotlib import pyplot as plt
%matplotlib inline

## Understanding the data

In [ ]:
# read in the data
df = pd.read_csv("Collected data.csv", index_col = 0)
df.head(5)

## The dataframe has the following columns:
* __job_title__ : Contains the name of position being advertised	
* __company_name__ : Contains the name of the company
* __rating__ : Contains the rating of the company (0-5 star company)
* __company_location(city)__: Contains the city in which the company is located
* __company_location_state__ : Contains the state where the company/organisation is located
* __salary_type__ : Defines whether the salary stated is Estimated by simplyhired.com or Explicitly defined by the employer
* __payment_cycle__	: Defines the payment duration (monthly/ hourly/ annually)
* __Salary Range From__	: Low bound of the salary to be paid
* __Salary range To__	: High bound of the salary to be paid
* __currency__	: Currency of the payments ie (dollars/Pound/Euro)
* __job_type__	: Defines whether the job is full time or part time
* __job_benefits__: Contains a list of job benefits offered for that position by the company
* __qualifications__: Contains a list of job qualifications/skills required for that position by the company
* __job_description__: Contains a thorough description of the job.

In [ ]:
df.shape

The dataframe has 5849 records and 14 columns

In [ ]:
df.info()

## Data Cleaning

"Salary Range From" and "Salary range To" columns should be converted to float data type for manipulation.

In [ ]:
df["Salary Range From"]

In [ ]:
# remove the comma in the values and convert to float

df["Salary Range From"].replace(",", "", regex=True, inplace = True)
df["Salary range To"].replace(",", "", regex=True, inplace = True)


#Convert to float
df = df.astype({
    "Salary Range From": float,
    "Salary range To":float
})
df.info()

### Remove duplicates

In [ ]:
df[df.duplicated(subset=["job_title","company_name", "company_location(city)"], keep=False)].sort_values(by="job_title").count()

The dataframe has no duplicated records

In [ ]:
df.head()

I need to add a column for the salary that will be a single value. It will be the median value of salary range from and salary range to

In [ ]:
# Store salary rane from and saslary range to columns in lists

salary_range_from = list(df["Salary Range From"])
salary_range_to = list(df["Salary range To"])

# Get the median value for each record and store in "salary" list
salary = []
for i in range(len(salary_range_from)):
    salary.append(pd.Series([salary_range_from[i], salary_range_to[i]]).median())
    
df.insert((df.columns.get_loc("Salary range To")+1), "Median_salary", salary)

In [ ]:
df.head()

The column was sucessfully added next to "Salary range To" column.

### Drop less important columns

In [ ]:
df.currency.value_counts()

The currency column only has $ value and hence should be dropped.

The description column contains the roles and responsibilities of the applicant, as well as the application process. This is not useful in this analysis hence the column should be dropped

In [ ]:
df.drop(["currency", "job_description"], axis=1, inplace = True)

In [ ]:
df

In [ ]:
df.company_location_state.value_counts().sort_index().head(20)

Some states have full names while others have abbreviated names. This makes records referring to same state be categorized as different. We need to abbreviate all state names to ensure the data has integrity.

In [ ]:
# Read a table with the US states and their abbreviations from a website

url = "https://www.bls.gov/respondents/mwr/electronic-data-interchange/appendix-d-usps-state-abbreviations-and-fips-codes.htm"
states = pd.read_html(url)[0]
states.columns = list(states.loc[0].values)
states = pd.concat([states.iloc[:, :2], states.iloc[:, 3:5]])
states.set_index("State", inplace = True)

In [ ]:
# Create a function to rename the states

def state_name(x):
    try:
        x = x.replace(" State", "")
        return states.loc[x].values[0]
    except:
        return x

In [ ]:
# Apply the function to the column

df.company_location_state = df.company_location_state.apply(lambda x: state_name(x))

In [ ]:
df

In [ ]:
df.payment_cycle.value_counts(dropna=False)

In [ ]:
df["company_location(city)"].value_counts().head(30)

In [ ]:
df.job_title.value_counts().head(30)

The dataframe looks good to start working on. Lets test the hypotheses

# Hypothesis testing
### 1. Companies with higher ratings tend to offer higher salaries than those with lower ratings.

In [ ]:
ratings_testing = df.copy()
ratings_testing.rating

In [ ]:
#Drop all nas in the ratings column.

ratings_testing.dropna(subset="rating", inplace=True)
ratings_testing.head()

In [ ]:
ratings_testing.payment_cycle.unique()

In [ ]:
ratings_testing.payment_cycle.value_counts()

The jobs posted have different payment cycles(Annually, Hourly, Monthly, Not Defined) hence would give wrong information. To ensure the integrity of the data, we need to make all payment annuall based and drop all NaNs and jobs whose payment cycles is Not Defined

In [ ]:
# This function payment_adjuster converts Hourly and monthly salary to its annual value

def payment_adjuster(dataframe_):
    dataframe = dataframe_.copy()
    for index, rows in dataframe.iterrows():
        if rows.payment_cycle == "Hourly":
            dataframe.at[index, "Median_salary"] = df.at[index, "Median_salary"]*40*52
        elif rows.payment_cycle == "Monthly":
            dataframe.at[index, "Median_salary"] = df.at[index, "Median_salary"]*12
            
    return dataframe

In [ ]:
# Apply the function payment_adjuster to our dataframe ratings_testing to get annual salary

data = payment_adjuster(ratings_testing)

# Drop all records whose payment cycles is Not Defined  
not_defined_cycle = data[data.payment_cycle == "Not Defined"].index
data.drop(not_defined_cycle, inplace = True)        

# Drop NaNs
data.dropna(inplace = True)
data

In [ ]:
# Group the data by rating column and get the average of the group's salary. From the resultant dataframe, select the 
# Median_salary column
data = ratings_testing.groupby("rating").mean()["Median_salary"]
data.sort_index(inplace = True)
data = data.to_frame().reset_index()
data

Plot a line graph of company rating against salary offered

In [ ]:
# use ggplot style

plt.style.use("ggplot")

chart = data.plot.scatter( x="rating", y="Median_salary" ,figsize=(13, 5));
chart.set_title("SCATTER PLOT OF COMPANY RATING AGAINST SALARY");
chart.set_xlabel("COMPANY RATING");
chart.set_ylabel("SALARY");

In [ ]:
# Get the correlation coefficient of the two variable

data.rating.corr(data.Median_salary)

##### The correlation coefficient between the company rating  and the salary offered is 0.2384. This shows that there is a weak  correlation between the two.

Based on our analysis, we found that __there is no significant relationship between a company's rating and the salaries they offer to their employees__. Our results do not support the hypothesis that companies with higher ratings tend to offer higher salaries than those with lower ratings.

### 2. Jobs in larger cities tend to have higher salaries than those in smaller cities.

In [ ]:
# Apply annual salary to our original dataframe

df = payment_adjuster(df)
cities = df.copy()

cities

In [ ]:
# Drop all records whose payment cycles is Not Defined  
not_defined_cycle = cities[cities.payment_cycle == "Not Defined"].index
cities.drop(not_defined_cycle, inplace = True)
cities

Checking for data integrity in the columns we will work with (company_location(city) and Median_salary)

In [ ]:
df["company_location(city)"].nunique()

In [ ]:
df["company_location(city)"].value_counts()

In [ ]:
cities = cities.loc[:,["company_location(city)", "Median_salary"]]
cities

In [ ]:
cities.dropna(inplace = True)
cities

In [ ]:
# Remove remote company location and jobs whose location is United States

not_remote = np.invert(cities["company_location(city)"].str.strip().str.startswith("Remote"))
not_US = np.invert(cities["company_location(city)"].str.strip().str.startswith("United"))

cities = cities[not_remote & not_US]

cities

I used [worldpopulationreview](https://worldpopulationreview.com/us-cities) data to get top 200 cities in the US by population. I also used citymayors(http://www.citymayors.com/statistics/richest-cities-2020.html) data to get top 23 US citiesby GDP

In [ ]:
# Read json file with the 200 largest cities in the US by population.
large_cities_by_population = pd.read_json(r"large cities US.json")
large_cities_by_population

In [ ]:
# Get only city names

large_cities_by_population = list(large_cities_by_population.name.values)
large_cities_by_population

In [ ]:
x = pd.read_html("http://www.citymayors.com/statistics/richest-cities-2020.html")[2]

In [ ]:
x.columns = x.loc[0].values
x.drop(0, inplace = True)
x

In [ ]:
# Get only city names in USA
large_cities_by_GDP = list(x[x["Country"] == "USA"]["City/Urban area"].values)
large_cities_by_GDP

In [ ]:
large_cities = large_cities_by_GDP+large_cities_by_population
# remove duplicates

large_cities = list(set(large_cities))

In [ ]:
df_cities = list(cities["company_location(city)"].values)

In [ ]:
# Check if the company location is in a Large or Small citr.
larger_or_smaller = []

for city in df_cities:
    if city.strip() in large_cities:
        larger_or_smaller.append("Large")
    else:
        larger_or_smaller.append("Small")

In [ ]:
cities["larger_or_smaller"] = larger_or_smaller
cities

In [ ]:
cities.larger_or_smaller.value_counts()

There are 313 more large cities than small cities

In [ ]:
graph = cities.groupby("larger_or_smaller").mean().plot(kind="bar", figsize = (20,10));
graph.set_xlabel("LARGE VS SMALL COMPANY");
graph.set_ylabel("AERAGE SALARY");
graph.set_title("COMPANY SIZE AGAINST AVERAGE SALARY");

Based on the findings above, it appears that the hypothesis that jobs in larger cities tend to have higher salaries than those in smaller cities is supported. The mean salary for large cities is 85408.613554 and the mean salary for small cities is 82016.848687, which is higher in larger cities

### 3. Full-time jobs tend to have higher salaries than part-time jobs.

In [ ]:
full_parttime_df = df.copy()
full_parttime_df

In [ ]:
full_parttime_df.dropna(subset = "job_type", inplace = True)
full_parttime_df

In [ ]:
full_parttime_df.job_type.unique()

Clean the job_type column. Remove the "contract", "temporary", "Internship" etc attributes that join full-time/part-time value

In [ ]:
full_parttime_df.job_type = full_parttime_df.job_type.replace(" \| Contract", "", regex=True)\
                                                     .replace(" \| Temporary", "", regex=True)\
                                                     .replace(" \| Internship", "", regex=True)

In [ ]:
# Pick only Part-time and full time jobs
data = full_parttime_df[(full_parttime_df.job_type == "Full-time") | (full_parttime_df.job_type == "Part-time")]
data = data.loc[:, ["job_type", "Median_salary"]]
data.job_type.value_counts()

In [ ]:
data.groupby("job_type").mean()

In [ ]:
graph = data.groupby("job_type").mean().plot(kind = "bar", figsize = (12,8));
graph.set_title("JOB TYPE AGAINST AVERAGE SALARY");
graph.set_xlabel("FORM OF EMPLOYMENT");
graph.set_ylabel("AVERAGE SALARY");

Based on the above findings, the hypothesis that full-time jobs tend to have higher salaries than part-time jobs __is supported.__ The mean salary for full-time jobs is 82240.688367, and the mean salary for part-time jobs is 75769.491892, which is __higher in full-time jobs.__

### 4. The most common job qualifications for high-paying jobs are related to specific technical skills.

In [ ]:
# In this section, I will work with a copy of our original dataframe and name it job_qualification_df

job_qualification_df = df.copy()
job_qualification_df

In [ ]:
# For each job, the qualifications are listed as a string, ache qualification being seperated by a comma.

job_qualification_df.qualifications.dropna(inplace = True)
job_qualification_df.qualifications

In [ ]:
# There are 4488 rows that have qualifications listed. They can give insights of qualifications and skills required
# Lets store the qualifications in a list for easier manipulation
job_qualification_list = list(job_qualification_df.qualifications.values)
job_qualification_list

I will create a function that loops through the list items, which are the job qualification requirements for each job. The function will count the number of times each qualification is mentioned in a job

In [ ]:
# The function loops through all the row's qualifications,identifies the qualification individually,
# and counts the times it has been mentioned as a requirement. It then returns two lists, one with the unique 
# qualifications/skills, and another list with coressponding count of the skill(number of times mentioned)


def qualification_calculator(list_x):
    qualification_name = []
    qualification_count = []
   
    for qualifications in list_x:
        qualifications_list = str(qualifications).split(",")
        for qualification in qualifications_list:
            qualification = qualification.strip().upper()
            if qualification not in qualification_name:
                qualification_name.append(qualification)
                qualification_count.append(1)
            else:   
                qalification_index = qualification_name.index(qualification)
                qualification_count[qalification_index] = qualification_count[qalification_index] +1
                
    return qualification_name, qualification_count

In [ ]:
# Apply the qualification_calculator() function to the job_qualification_list to get the most required qualification
skills = qualification_calculator(job_qualification_list)[0]
frequency = qualification_calculator(job_qualification_list)[1]

# create a dataframe of the skills and count
skills_df = pd.DataFrame({
    "Skill": skills,
    "Frequency": frequency
}).set_index("Skill")


skills_df

There are 971 different skills required for a data analyst role from all the jobs posted

In [ ]:
graph = skills_df.sort_values(by="Frequency").tail(20).plot(kind = "barh", figsize = (17,11));
graph.set_title("MOST REQUIRED QUALIFICATION IN ALL ADVERTIZED JOBS");
graph.set_xlabel("NUMBER OF TIMES IN QUALIFICATIONS");
graph.set_ylabel("QUALIFICATION");

From all job posts, a Bachelor's Degree is the most required qualification followed by Excell and SQL. Power BI is required more than Tableau and Powerpoint. Analysis and communication skills are highly required for a data analyst role. 

However, this is based on all jobs posted. What about the jobs that pay a salary above average?

In [ ]:
above_average_df = job_qualification_df[job_qualification_df.Median_salary>job_qualification_df.Median_salary.mean()]

job_qualification_list = list(above_average_df.qualifications.values)

skills = qualification_calculator(job_qualification_list)[0]
frequency = qualification_calculator(job_qualification_list)[1]

# create a dataframe of the skills and count
skills_df = pd.DataFrame({
    "Skill": skills,
    "Frequency": frequency
}).set_index("Skill")


graph = skills_df.sort_values(by="Frequency").tail(20).plot(kind = "barh", figsize = (17,11));
graph.set_title("MOST REQUIRED QUALIFICATION JOBS THAT PAY ABOVE AVERAGE");
graph.set_xlabel("NUMBER OF TIMES IN QUALIFICATIONS");
graph.set_ylabel("QUALIFICATION");

The trend is almost the same for higher paying jobs, but SQL has more popularity than Excel in higher paying jobs. 

What about the top 20 most paying jobs?

In [ ]:
top_20_df = job_qualification_df.nlargest(20, "Median_salary")
job_qualification_list = list(top_20_df.qualifications.values)

skills = qualification_calculator(job_qualification_list)[0]
frequency = qualification_calculator(job_qualification_list)[1]

# create a dataframe of the skills and count
skills_df = pd.DataFrame({
    "Skill": skills,
    "Frequency": frequency
}).set_index("Skill")


graph = skills_df.sort_values(by="Frequency").tail(20).plot(kind = "barh", figsize = (17,11));
graph.set_title("MOST REQUIRED QUALIFICATION FOR THE TOP 20 MOST PAYING JOBS");
graph.set_xlabel("NUMBER OF TIMES IN QUALIFICATIONS");
graph.set_ylabel("QUALIFICATION");

A bachelors Degree is still the most required qualification, followed by SQL and Tableau in this category, contrary to what has been of the previous categories. Tableau is also more valuable than Power BI and Excel in this category. 


From the analysis, the hypothesis that the most common job qualifications for high-paying jobs are related to specific technical skills is supported. Most companies require:
* SQL
* Excel
* Analysis skills
* Communication skills
* Power BI
* Project management

However,the most required qualification(A Bachelor's Degree) is not a technicall skill.

### 5. The most common job benefits for high-paying jobs include healthcare and retirement plans.

In [ ]:
benefits_df = df.copy()
benefits_df.dropna(subset="job_benefits", inplace = True)
benefits_df

In [ ]:
benefits_df.job_benefits

The job benefits are listed just like qualifications. I will create a function benefits_calculator that will get the frequency of job benefits offered

In [ ]:
def benefits_calculator(list_x):
    benefits_name = []
    benefits_count = []
   
    for benefits in list_x:
        benefits_list = str(benefits).split(",")
        for benefit in benefits_list:
            benefit = benefit.strip().upper()
            if benefit not in benefits_name:
                benefits_name.append(benefit)
                benefits_count.append(1)
            else:   
                benefit_index = benefits_name.index(benefit)
                benefits_count[benefit_index] = benefits_count[benefit_index] +1
                
    return benefits_name, benefits_count

In [ ]:
# Plot a graph of the most offered job benefits

benefits_list = list(benefits_df.job_benefits.values)


benefits = benefits_calculator(benefits_list)[0]
frequency = benefits_calculator(benefits_list)[1]

# create a dataframe of the skills and count
skills_df = pd.DataFrame({
    "Skill": benefits,
    "Frequency": frequency
}).set_index("Skill")


graph = skills_df.sort_values("Frequency").tail(15).plot(kind = "barh", figsize=(20,13));
graph.set_title("TOP 15 JOB BENEFITS OFFERED BY ALL JOB POSTINGS\n", {'fontsize': 20});
graph.set_xlabel("NUMBER OF JOBS OFFERING THE BENEFIT", {'fontsize': 20});
graph.set_ylabel("BENEFIT", {'fontsize':30});

In [ ]:
# Plot a graph of the most offered job benefits

above_average_df = benefits_df[benefits_df.Median_salary>benefits_df.Median_salary.mean()]
benefits_list = list(above_average_df.job_benefits.values)


benefits = benefits_calculator(benefits_list)[0]
frequency = benefits_calculator(benefits_list)[1]

# create a dataframe of the skills and count
skills_df = pd.DataFrame({
    "Skill": benefits,
    "Frequency": frequency
}).set_index("Skill")


graph = skills_df.sort_values("Frequency").tail(15).plot(kind = "barh", figsize=(20,13));
graph.set_title("MOST OFFERED JOB BENEFITS BY ABOVE AVERAGE-PAYING JOBS\n", {'fontsize': 20});
graph.set_xlabel("NUMBER OF JOBS OFFERING THE BENEFIT", {'fontsize': 20});
graph.set_ylabel("BENEFIT", {'fontsize':30});

In [ ]:
most_paying_df = benefits_df.nlargest(20, "Median_salary")

benefits_list = list(most_paying_df.job_benefits.values)

benefits = benefits_calculator(benefits_list)[0]
frequency = benefits_calculator(benefits_list)[1]

# create a dataframe of the skills and count
skills_df = pd.DataFrame({
    "Skill": benefits,
    "Frequency": frequency
}).set_index("Skill")


graph = skills_df.sort_values("Frequency").tail(15).plot(kind = "barh", figsize=(20,13));
graph.set_title("MOST OFFERED JOB BENEFITS BY ABOVE AVERAGE-PAYING JOBS\n", {'fontsize': 20});
graph.set_xlabel("NUMBER OF JOBS OFFERING THE BENEFIT", {'fontsize': 20});
graph.set_ylabel("BENEFIT", {'fontsize':30});

Based on the above analysis, it appears that the hypothesis that healthcare and retirement plans are the most common job benefits for high-paying jobs __is true__. The findings show that health insurance, dental insurance, 401(k), and 401(k) matching are among the top five benefits offered in all categories of the jobs I analyzed. This confirms that high-paying jobs tend to offer more comprehensive and generous benefits packages, including healthcare and retirement plans

### 6. Salaries in certain states tend to be higher than in others.